/* html elements */

body {
  margin: 0px;
}

nav {
  height: 40px;
  background: gray;
  display: flex;
  align-items: center;
}

nav a {
  margin: 0px 10px;
  color: white;
}

img {
  width: 100%;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

/* classes */

/* id */

#container {
  max-width: 700px;
  margin: 0 auto;
}